<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Data Save Example</title>
</head>
<body>

<b th:text="|Total  ${noOfRecords} records uploaded !|"> Total ${noOfRecords} records uploaded !</b>
</body>
</html>